customtkinter     
esptool               
matplotlib                
numpy                   
pandas                     
Pillow            
pip                    
pyserial          
python-dateutil                          
ttkwidgets         